
nav {
    padding: 10px;
    background-color: var(--light-black);
    border-bottom: 1px solid var(--blue);

    ol {
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;

        &:first-child {
            font-size: 32px;
            color: var(--blue);
        }

        &:last-child {
            color: white;
            background-color: var(--blue);
            padding: 10px;
            border-radius: 5px;
            border: 1px solid var(--blue);
        }

        &:last-child:hover {
            color: var(--blue);
            background-color: white;
        }
    }
}