nav {
    padding: 10px;
    background-color: var(--light-black);

    ol {
        display: flex;
        justify-content: space-between;

        div > a{
            margin-right: 10px;
            
            &:first-child {
                color: var(--rose);
            }

            &:nth-child(2) {
                color: var(--blue);
            }

            &:nth-child(3) {
                color: var(--green);
            }

            &:last-child{
                color: var(--orange);
            }

        }
    }
    a {
        text-decoration: none;
    }
}

#logo {
    font-size: 32px;
    color: var(--blue);
}