/* PADDING */
.p-10 {
  padding: 10px;
}

/* MARGIN */
.mt-20 {
  margin-top: 20px;
}
.mr-25 {
  margin-right: 25px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-60 {
  margin-bottom: 60px;
}

.my-10 {
  margin: 10px 0;
}